* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo h4 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: -30px;
    color: #5F725C;
}

.logo h4:hover {
    color: #234f1b;

}

.logo p {
    /* 上边 | 右边 | 下边 | 左边 */
    margin: 15px 0 20px 0;
    font-size: 15px;
    letter-spacing: 2px;
}

.nav {
    width: 100%;
    border-top: 1px solid rgb(74, 70, 70);
    border-bottom: 1px solid rgb(74, 70, 70);
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
}

.nav ul li a {
    color: #4b5b48;
    /* 消除底線 */
    text-decoration: none;
    letter-spacing: 1px;
}

.nav ul li a:hover {
    color: #763f13;
}

.banner {
    /* 上下 居中 */
    margin: 20px auto;
    width: 500px;
}

.banner img {
    width: 100%;
}

.about {
    width: 640px;
    margin: auto;
}

.about h3 {
    display: flex;
    align-items: center;
    color: #4b5b48;
    font-size: 20px;
    margin: 15px 0;
}

/* 小標誌 */
.about h3::before {
    content: " ";
    display: inline-block;
    height: 25px;
    width: 5px;
    background-color: #4b5b48;
    margin-right: 10px;
}

.about p {
    letter-spacing: 2px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer {
    color: #4b5b48;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
}

#map {
    height: 400px;
    width: 100%;

}